@import "tailwindcss";

@theme {
  --color-lightgreen: #e9fff8;
  --color-lightred: #fff3f3;
  --color-lightblue: #e5f6ff;

  --color-red: #ed7878;
  --color-green: #82d9c8;
  --color-blue: #6aa5ff;

  --color-custom-black: #111111;
}

@font-face {
  font-family: Bungee;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/Bungee-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Bebas;
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("./assets/BebasNeue-Regular.ttf") format("truetype");
}